.root{
	font-size: 16px;
}
body{
	margin: 0%;
	width: 100%;
	
	}
.container{
		display: flex;
		flex-direction: column;
	}
.top{
	position: sticky;
	top: 0px;	
	margin: 0%;
	
}
.header{
	font-size: 2rem;
	background: linear-gradient(#88E6CA,white);
	font-weight: 6%;
	padding: 1.5%;
}
.banner{
	background: linear-gradient(#0C7676,white);
	padding: 8%;
	font-size: 3rem;
}
.banner p{
	font-size: 2rem;
	line-height: 2vh;
	float: right;
}
.myimage img{
	
	margin-top: 4%;
	padding: 2%;
	border: transparent;
	border-radius: 7%;
	border-color: black;
	margin-left: 0%;
	float: right;
	width: 50vw;
	height: 70vh;
}
.aboutme section{	
	
	margin-top: 4%;
	background: linear-gradient(#0C7676,white);	
	width: 40%;
	font-size: 1.5rem;
	padding: 2%;
	float: left;
	line-height: 5vh;
}
p{
	text-align: middle;
}
.interests section{
	
	margin-top: 4%;
	background: linear-gradient(#0C7676,white);	
	width: 40%;
	font-size: 1.5rem;
	padding: 2%;
	float: right;
	line-height: 5vh;
}
.slider img{
	
	margin-top: 4%;
	padding: 2%;
	border: transparent;
	border-radius: 7%;
	border-color: black;
	margin-left: 0%;
	float: left;
	width: 30vw;
	height: 35vh;

}
.project section{
	
	margin-top:5%;
	background: linear-gradient(#0C7676,white);	
	width: 40vw;
	height: 50vh;
	font-size: 1.5rem;
	padding: 2%;
	float: left;
	line-height: 5vh;

}

footer{
	background-color: #88E6CA;
	height :50px;
	display: block;
	line-height: 50px;

}
.links img{
	padding: 1%;
	max-width: 20px;

}
@media screen and (min-width: 480px) and (max-width: 720px){

	.container{
		display: flex;
		flex-grow: 3px;
	}

	.myimage img{
		width: 80vw;
		height: 60vh;
	}
	.aboutme section{
		width: 90%;
	}
	.interests section{
	    width: 95vw;
	}
	.project section{
	    width: 96vw;
	}
	.slider img{
		width: 80vw;
		height: 60vh;
	}
}
@media screen and (min-width: 280px) and (max-width: 480px){
	.myimage img{
		width: 50vw;
		height: 30vh;  
	}
	.aboutme section{
		width: 96vw;
	}
	.interests section{
	    width: 96vw;
	}
	.project section{
	    width: 96vw;
	}
	.slider img{
		width: 40vw;
		height: 20vh;
	}
	.banner{
		font-size: 2rem; 
	}
	.banner p{
		font-size: 1.35rem;
	}
	.header{
		font-size: 1.2rem;
	}
}
@media screen and (max-width: 279px){
	.myimage img{
		width: 90vw;
		height: 20vh;
	}
	.aboutme section{
		font-size: 1rem;
		width: 96vw;
	}
	.interests section{
		font-size: 1rem;

	    width: 96vw;
	}
	.project section{
   		font-size: 1rem;

	    width: 96vw;
	}
	.slider img{
		width: 96vw;
		height: 20vh;
	}
	.banner{
		font-size: 1rem; 
	}
	.banner p{
		font-size: 1rem;
	}
	.header{
		font-size: 1rem;
	}

}



	







